/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: 400;
  background-image: var(--background-image);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: var(--black);
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  height: 100vh;
  min-height: 668px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr min-content 1fr;
  padding: 10px 10px 30px;
  position: relative;
}

.header__theme-menu {
  justify-self: end;
  padding-top: 62px;
  margin-bottom: 66px;
}

.header__theme-menu-list {
  display: grid;
  gap: 9px;
}

.header__theme-menu-button {
  padding: 4px 13px;
  border: 1px solid transparent;
  background-color: inherit;
  color: var(--pink);
  text-transform: lowercase;
  line-height: 1;
  font-weight: 400;
  cursor: pointer;
}

.header__theme-menu-button_active {
   border: 1px solid var(--pink)
}

.header__theme-menu-button:hover:not(.header__theme-menu-button_active) {
  border: 1px solid rgb(255, 0, 112, 40%);
}

.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--pink);
}

.decoration-pic {
position: absolute;
display: flex;
justify-self: end;
gap: var(--gap);
color: var(--pink);
right: 20px;
top: var(--gap);
line-height: 1.39;
}

.decoration-pic::before {
  content: 'REC';
}

.decoration-pic::after {
  content: "";
  align-self: center;
  inline-size: 9px;
  block-size: 9px;
  border-radius: 100%;
  background-color: var(--pink);
  box-shadow: 0 0 4px 2px var(--pink);
}

.decorated-zone::before {
  content: '';
  position: absolute;
  border-top: 1px solid var(--pink);
  border-right: 1px solid var(--pink);
  width: 25px;
  height: 25px;
  top: var(--gap);
  right: var(--gap);
}

.decorated-zone::after {
  content: '';
  position: absolute;
  border-bottom: 1px solid var(--pink);
  border-left: 1px solid var(--pink);
  width: 25px;
  height: 25px;
  bottom: var(--gap);
  left: var(--gap);
}

.header-title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--heading-color);
  text-shadow: 4px 4px 0 var(--accent-color);
  font-weight: 800;
  line-height: 82.5%;
  margin-bottom: 55px;
}

.header-div {
  max-height: fit-content;
}

.header-text {
  font-weight: 800;
  color: var(--black);
  line-height: 1.3;
}

.title-decor {
  background-color: var(--pink);
}

.main {
  margin: 40px 10px 0px;
}

.section {
  margin-bottom: 51px;
}


.section__title {
  font-size: var(--font-size);
  color: var(--pink);
  margin-bottom: 20px;
  font-weight: 800;
  line-height: 23.4px;
}

.section__answers {
  margin-bottom: 20px;
}

.section__answers-title {
  font-size: var(--font-size);
  color: var(--black);
  margin-bottom: 10px;
}

.unic-title-margin {
  margin-bottom: 20px;
}

.unic-title-bold {
  font-weight: 400;
}

.section__answers-text {
  font-size: var(--font-size);
  color: var(--white);
  line-height: 23.4px;
}

.section__link {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

.section__link:hover {
  border-bottom: 1px solid var(--white);
}

.section__link:focus {
  outline: none;
}

.section__link:focus-visible {
  outline: 1px solid var(--white);
}

.section__pictures {
  margin-bottom: 41px;
}

.gallery {
  display: grid;
  gap: var(--gap);
}

.section__image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.footer {
  position: relative;
  height: 100vh;
  min-height: 668px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  color: var(--heading-color);
  text-shadow: 2px 2px 0 var(--accent-color);
  font-weight: 800;
  line-height: 82.5%;
}

@media (width >= 768px) {
  .header {
    min-height: 1024px;
    padding: 0;
    padding-right: 20px;
  }

  .header__theme-menu {
    padding-top: 189px;
    margin-bottom: 173px;
  }

  .header__theme-menu-list {
    display: grid;
    gap: 9px;
  }

  .decorated-zone::after {
    bottom: 20px;
    left: 20px;
  }

  .decorated-zone::before {
    top: 20px;
    right: 20px;
  }

  .decoration-pic {
    right: 30px;
    top: 20px;
  }

  .header-title {
    margin-bottom: 162px;
  }
  
  .header-div {
    width: 48.7%;
    justify-self: end;
  }

  .main {
    margin: 60px 20px 0px;
  }

  .section {
    margin-bottom: 80px;
  }
  
  .section-why {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }

  .section__answers {
    grid-column: 2;
    margin-bottom: 0;
  }

  .section-what {
    display: grid;
    grid-template-columns: 1fr;
  }

  .what-grid-column {
    grid-column: 1;
    margin-bottom: 21px;
  }

  .title-what {
    width: 30%;
  }

}