/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --font-family: "IBM Plex Mono", "Arial", sans-serif;
  --font-size: 18px;
  --background-image: url(../images/cover-image-dark.png);
  --pink: #FF0070;
  --black: #000028;
  --white: #F1B2CE;
  --bg-color: #000028;
  --fill: #FFF1F7;
  --heading-color: #DB00FF;
  --accent-color: var(--pink);
  --gap: 10px;
}
